NET "CLK" LOC = P90 | TNM_NET = CLK | IOSTANDARD = LVCMOS33;
TIMESPEC TS_CLK = PERIOD "CLK" 64 MHz HIGH 50%;

NET "LED2"    LOC = P9   | IOSTANDARD = LVCMOS33;
NET "LED3"    LOC = P62  | IOSTANDARD = LVCMOS33;
NET "LED1"    LOC = P10  | IOSTANDARD = LVCMOS33;
NET "LED4"    LOC = P48  | IOSTANDARD = LVCMOS33;

NET "A"       LOC = P34   | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
#NET "A[1]"       LOC = P35   | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "B"       LOC = P36   | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
#NET "B[1]"       LOC = P37   | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;

NET "CS_B"       LOC = P27   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "MISO"       LOC = P51   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "W_B"        LOC = P52   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "HOLD_B"     LOC = P50   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "CCLK"       LOC = P53   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "MOSI"       LOC = P46   | IOSTANDARD = LVCMOS33 | SLEW = FAST;

