NET "CLK" LOC = P90 | TNM_NET = CLK | IOSTANDARD = LVCMOS33;
TIMESPEC TS_CLK = PERIOD "CLK" 64 MHz HIGH 50%;

NET "LED2"    LOC = P9   | IOSTANDARD = LVCMOS33;
NET "LED3"    LOC = P62  | IOSTANDARD = LVCMOS33;
NET "LED1"    LOC = P10  | IOSTANDARD = LVCMOS33;
NET "LED4"    LOC = P48  | IOSTANDARD = LVCMOS33;

NET "V_EN"      LOC = P72   | IOSTANDARD = LVCMOS33;
#NET "HPD_B"       LOC = P94   | IOSTANDARD = LVCMOS33 | PULLUP;

NET "A[0]"       LOC = P34   | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "A[1]"       LOC = P35   | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "B[0]"       LOC = P36   | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;
NET "B[1]"       LOC = P37   | IOSTANDARD = LVCMOS33 | SLEW = FAST | PULLUP;

NET "CS_B"       LOC = P27   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "MISO"       LOC = P51   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "W_B"        LOC = P52   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "HOLD_B"     LOC = P50   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "CCLK"       LOC = P53   | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "MOSI"       LOC = P46   | IOSTANDARD = LVCMOS33 | SLEW = FAST;


NET "TMDS[0]"  LOC = P83 | IOSTANDARD = TMDS_33;
NET "TMDSB[0]" LOC = P84 | IOSTANDARD = TMDS_33;
NET "TMDS[1]"  LOC = P85 | IOSTANDARD = TMDS_33;
NET "TMDSB[1]" LOC = P86 | IOSTANDARD = TMDS_33;
NET "TMDS[2]"  LOC = P88 | IOSTANDARD = TMDS_33;
NET "TMDSB[2]" LOC = P89 | IOSTANDARD = TMDS_33;
NET "TMDS[3]"  LOC = P77 | IOSTANDARD = TMDS_33;
NET "TMDSB[3]" LOC = P78 | IOSTANDARD = TMDS_33;
